.grid-template{
    display: grid;
    grid-template-columns: [full-start] minmax(5rem, 1fr) auto minmax(auto, 1fr) minmax(40rem, 1fr) auto [full-end];
    grid-column-gap: 5rem;
}

.row{
    display: flex;
    align-items: center;
    margin: .75rem 0;
}