<main class="container">
  <div class="grid-template">
    
    <div class="container__red">
      <div class="coordinate">
        <div class="coordinate__x">
          <label class="coordinate__text">Tasa de aprendizaje: </label>
          <input type="number" class="coordinate__input" [value]="tasa_de_aprendizaje">
        </div>
      </div>
      <h2>Agregar Coordenadas</h2>
      <div class="coordinate">
        <div *ngFor="let coordinate of arrayCoordinates" class="row">
          <div class="coordinate__x">
            <label class="coordinate__text">X: </label>
            <input class="coordinate__input" disabled [value]="coordinate.x"> 
          </div>
          <div class="coordinate__y">
            <label class="coordinate__text">Y: </label>
            <input class="coordinate__input" disabled [value]="coordinate.y">
          </div>
          <div class="coordinate__color">
            <label class="coordinate__text">Color: </label>
            <input class="coordinate__input" disabled [value]="coordinate.color">
          </div>
        </div>
        <div class="row">
          <div class="coordinate__x">
            <label class="coordinate__text">X: </label>
            <input type="number" min="-250" max="250" class="coordinate__input" [(ngModel)]="coordinate.x"> 
          </div>
          <div class="coordinate__y">
            <label class="coordinate__text">Y: </label>
            <input type="number" min="-250" max="250" class="coordinate__input" [(ngModel)]="coordinate.y">
          </div>
        </div>
      </div>
      <button class="btn btn-red" (click)="addCoordinate(coordinate.x, coordinate.y)">Agregar</button>
    </div>
    <canvas class="cartesian__plane" width="500" height="500" #canvas></canvas>
    <div class="coordinate">
      <p>Vueltas: {{ ages }}</p>
    </div>
    <div class="container__button">
      <button class="btn btn-red" (click)="startTrain()">Entrenar</button>
    </div>
  </div>
</main>