%cartesian{
    grid-column: 3 / 4;
    grid-row:  1 / 2;
    border: 1px solid black;
    background-color: transparent; 
    justify-self: center;
}

.cartesian{
    margin: 0 auto;
    &__plane{
        @extend %cartesian;
    }

    &__draw{
        @extend %cartesian;
    }
}

.container{
    width: 100vw;
    min-height: 50vh;

    &__red{
        grid-column: 2 / 3;
    }
    
    &__yellow{
        grid-column: 4 / 5;
    }

    &__button{
        grid-column: 3 / 4;
        padding: 2rem 0;
    }
}

.coordinate{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;

    &__x, &__y{
        display: flex;
        align-items: center;
    }

    &__text{
        font-size: 1.8rem;
    }
    
    &__input{
        width: 6.5rem;
        height: 4rem;
        margin: 0 .5rem;
        text-indent: 1rem;
        font-size: 1.8rem;
    }
}

.btn{
    border: none;
    font-size: 2rem;
    font-weight: bold;
    border-radius: .5rem;
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
    
    &-red{
        background: var(--color-red);
    }
    &-yellow{
        background: var(--color-yellow);
    }
    &-blue{
        background: var(--color-blue);
    }
}